.title_placement{
    position: relative;
    top: 43vh;
    font-family: 'Oswald', sans-serif;
    font-size: 10vh;
    color: #383428;
    
}
.aboutme_bio_placement{
    position: relative;
    top: 55vh;
    left: 52vw;
   
}
.aboutme_bio_css{
    font-size: 3vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    width: 40%;
}
.aboutme_container{
    background:aliceblue;
}
.resize_profilepic{
    position: relative;
    width: 40%;
    height: 50%;
    left: -80%;
    top: -44vh;
}