.background_pic{

	background: url(NewYorkCity.jpg) no-repeat;
	background-size: cover;
    background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	min-height:120vh;
     
	
}

.Hi_Im{

	position: absolute;
	top: 16vh;
	left: 5vw;
	color: black;
	font-size: 60px;	
	font-family: 'Cardo', serif;
	letter-spacing: .5vh;
	margin: 2vh;
	line-height: 4vh;

}
.Eric{
	color: #ffce00;
	font-size: 20vh;
	width: 70vw;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
}

.Eric2{

	position: absolute;
	left: 5vw;
	top: 14vh;
	color: #ffce00;
	font-size: 40vh;	
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
}


.titlepage-bio{

	position: absolute;
	top: 60vh;
	left: 2.5vw;
	color: black;
	width: 30vw;
	font-family: 'Montserrat', sans-serif;
	margin: 40px;

}

.aboutmemove{
	position:absolute;
	left: 0vw;
	top: 110vh;
}
.aboutme_goodtext{
	position: absolute;
	width: 25vw;
	top: 150vh;
	color:black;
	left: 2vw;
	padding: 5px;
	margin: 10px;
	font-size: 3vh;
	font-family: 'Montserrat', sans-serif;
	border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
	border-left: 2px solid black;

}

.bg-change1{
	background: url(NewYorkCity.jpg) no-repeat;
	background-size: cover;
    background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	
}
.bg-change2{
	background: url(black.jpg) no-repeat;
	background-size: cover;
    background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	
}
.bg-change3{
	background: url(seattle.jpg) no-repeat;
	background-size: cover;
    background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	
}
.bg-change4{
	background: url(black.jpg) no-repeat;
	background-size: cover;
    background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	
}
.bg-change5{
	background: url(toronto.jpg) no-repeat;
	background-size: cover;
    background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	
}

.bg-change6{
	background: url(black.jpg) no-repeat;
	background-size: cover;
    background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	
}
.bg-change7{
	background: url(hongkong2.jpg) no-repeat;
	background-size: cover;
    background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	
}
body{
	background: url(black.jpg) no-repeat;
	overflow-x:hidden;
	overflow-y: overlay;
	width:100%;
	background-size: cover;
    background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	min-height:120vh;
	transition: all 1s ease;
}
.profilepicture{
	position: absolute;
	border-radius: 50%;
	width: 300px;
	height: 300px;
	background-image: url("me.jpg");
	background-size: cover;
	top: 153vh;
	left: 35vw;
}
.jobdesc{
	position: absolute;
	width: 35vw;
	top: 300vh;
	left: 20vw;
	padding: 5px;
	margin: 10px;	
	font-size: 3.5vh;
	color: black;
	font-family: 'Montserrat', sans-serif;
	transition: all .4s ease;
	border-left: 2px solid black;

}

.hcpic{
	position: absolute;
	top: 310vh;
	left: 62vw;
	width: 30vw;
}
.Skillsandtechtext{
	position: absolute;
	top: 260vh;
	left:31vw;
	font-size: 20vh;
	color: #ffce00;
	font-family: 'Oswald', sans-serif;

}
.Skillsandtechtext2{
	position: absolute;
	top: 380vh;
	left: 17vw;
	font-size: 20vh;
	color: #ffce00;
	font-family: 'Oswald', sans-serif;

}
.techs{
	position: absolute;
	left:0vw;
	top: 400vh;
	font-family: 'Montserrat', sans-serif;
	color: #ffce00;
	font-size: 8vh;
}
.techstyle{
	padding: 2vh;
	margin: 2vh;
	border:double #ffce00;
}
ul#listoftech li {
	display: inline-block
}
.moveproject{
	position: absolute;
	top: 500vh;
	left: 33vw;
}
.project_text1{
	padding: 5px;
	margin: 10px;
	position:absolute;
	color:black;
	font-size: 3.5vh;
	top: 543vh;
	width: 35vw;;
	left: 61vw;
	font-family: 'Montserrat', sans-serif;
	border-left: 2px solid black;
	transition: all .4s ease;
	
}
.project_text2{
	
	padding: 5px;
	margin: 10px;
	position:absolute;
	color:black;
	font-size: 4vh;
	top: 625vh;
	width: 35vw;
	left: 61vw;
	font-family: 'Montserrat', sans-serif;
	transition: all .4s ease;
	
	border-left: 2px solid black;
}
.project_text3{
	
	padding: 5px;
	margin: 10px;
	position:absolute;
	color:black;
	font-size: 4vh;
	top: 700vh;
	width: 35vw;
	left: 62vw;
	font-family: 'Montserrat', sans-serif;
	transition: all .4s ease;
	
	border-left: 2px solid black;
}
.Prescrypto_Pic{
	position: absolute;
	box-shadow: 20px 20px rgba(0,0,0,.25);
	transition: all .4s ease;
	width: 21vw;
	height: 43vh;
	background-image: url("home.JPG");
	background-position: center;
	background-size: cover;
	top: 546vh;
	left: 38vw;
}

.blockchain_pic{
	position: absolute;
	box-shadow: 20px 20px rgba(0,0,0,.25);
	transition: all .4s ease;
	width: 42vw;
    height:19vh;
	background-image: url("Prescryptologin.JPG");
	background-position: top;
	background-size: fill;
	top: 545vh;
	left: 10vw;
}
.homebook_pic{
	position: absolute;
	box-shadow: 20px 20px rgba(0,0,0,.25);
	transition: all .4s ease;
	width: 21vw;
	height: 43vh;
	background-image: url("Login.JPG");
	background-position: center;
	background-size: cover;
	top: 570vh;
	left: 10vw;
}
.csiblockchain_pic{
	position: absolute;
	box-shadow: 10px 10px rgba(0,0,0,.25);
	transition: all .4s ease;
	width: 23.7vw;
	height: 43vh;
	background-image: url("csiblockchain.JPG");
	background-position: left;
	background-size: cover;
	top: 628vh;
	left: 37vw;
}
.hash_pic{
	position: absolute;
	box-shadow: 10px 10px rgba(0,0,0,.25);
	transition: all .4s ease;
	width: 10vw;
	height: 47vh;
	background-image: url("example.JPG");
	background-position: center;
	background-size: cover;
	top: 620vh;
	left: 36vw;
}
.homebook_pic1{
	position: absolute;
	box-shadow: 10px 10px rgba(0,0,0,.25);
	transition: all .4s ease;
	width: 20vw;
	height: 90vh;
	background-image: url("homebook_pic1.JPG");
	background-position: center;
	background-size: cover;
	top: 700vh;
	left: 10vw;
}
.homebook_pic2{
	position: absolute;
	box-shadow: 10px 10px rgba(0,0,0,.25);
	transition: all .4s ease;
	width: 25vw;
	height: 85vh;
	background-image: url("homebook_pic2.JPG");
	background-position: center;
	background-size: cover;
	top: 690vh;
	left: 36.5vw;
}
.movecontactinfo{
	position: absolute;
	top: 960vh;
	left: -8vw;
	font-size: 19vh;
}
.moveresume{
	position:absolute;
	top: 967vh;
	left: 49vw;
	overflow: hidden;	
}

.gitmove{
	position: absolute;
	top: 1004vh;
	width: 25%;
	left: 8vw;
}
.gitresize{
	width:25vw;
	position: absolute;
	top: 1013vh;
	left: 25vw;
	height: auto;
}
.resumeresize{
	height: 125vh;
	width: 46vw;
}
.linkedmove{
	position: absolute;
	top:  1020vh;
	left: 7vw;
	width: 18vw;
}
.emailmove{
	font-family: 'Oswald', sans-serif;
	position: absolute;
	top: 1065vh;
	left: 2vw;
	color: #ffce00;
	font-size: 9vh;

}
.resumetitle{
	font-family: 'Oswald', sans-serif;
	position: absolute;
	font-size:9vh;
	color: gray;
	top: -115vh;
	left: 10vw;
}
.underlinetitle { text-decoration: underline;
	text-decoration-color: #ffce00; }

	.underline { text-decoration: underline;
		text-decoration-color: #DCDCDC; }

.intro-text{
	opacity: 0;
	transform: translateY(25px);
	transition: 1s all ease-in-out
}
.intro-appear{
	opacity: 1;
	transform: translateY(0vh);
}
.Awards_title{
	position: absolute;
	top: 800vh;
	left: 13vw;
}

.Awards_desc_google{
	position: absolute;
	top: 860vh;
	left: 5vw;
	color: black;
	font-size: 4vh;
	width: 50vw;
	font-family: 'Montserrat', sans-serif;

}
.Awards_desc_htn{
	position: absolute;
	top: 900vh;
	color: black;
	font-size: 4vh;
	width: 50vw;
	left: 5vw;
	font-family: 'Montserrat', sans-serif;
}
.Awards_desc_alb{
	position: absolute;
	top: 940vh;
	color: black;
	font-size: 4vh;
	width: 50vw;
	left: 5vw;
	font-family: 'Montserrat', sans-serif;
}
.googlemove{
	position: absolute;
	top: 847vh;
	left: 64vw;
	width: 15%;
	height: 15%;
}
.htnmove{
	position: absolute;
	top: 895vh;
	left: 62vw;
	width: 20%;
	height: 20%;
}
.albmove{
	position: absolute;
	top: 940vh;
	left: 61vw;
	width: 20%;
	height: 20%;
}
.resize {
    width: 15vw;
    height: auto;
}
.movebtn{
	position: absolute;
	top: 80vh;
	left: 10vw;
}