.background_pic{

	background: url(NewYorkCity.jpg) no-repeat;
	background-size: cover;
    background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	min-height:120vh;
     
	
}

.Hi_Im{

	position: absolute;
	top: 16vh;
	left: 10vh;
	color: white;
	font-size: 60px;	
	font-family: 'Cardo', serif;
	letter-spacing: .5vh;
	margin: 2vh;
	line-height: 4vh;

}
.Eric{
	color: #ffce00;
	font-size: 30vh;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
}

.Eric2{

	position: absolute;
	left: 10vh;
	top: 14vh;
	color: #ffce00;
	font-size: 40vh;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
}


.titlepage-bio{

	position: absolute;
	top: 60vh;
	left: 5vh;
	color: white;
	width: 30%;
	font-family: 'Montserrat', sans-serif;
	margin: 40px;

}

.About_me{
    background: inherit;
 	position: absolute;
 	color: #ffce00;
 	top: 12vh;
 	left: 18vh;
    
    /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);   
    /*transition: all 0.3s cubic-bezier(.25,.8,.25,1);*/
    
}
.About_me_text{
    font-size: 15vh;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
     z-index: 1; 
    
}
tile_About_me{
    position: relative;
    background: inherit;
    top: 12vh;
 	left: 18vh;
    filter: blur(10px);
    z-index: -1;
    
}
.About_me:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.About_me::before {
    content: "";
	background: inherit;
	position: absolute;
    z-index: -1;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
}
.Contact_info{
    position: absolute;
 	color: #ffce00;
 	top: 20vh;
 	left: 18vh;
 	font-size: 15vh;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    display: inline-block;
    background: inherit;
    z-index: 1;
}
.Contact_info:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.aboutmemove{
	position:absolute;
	left: 100vh;
	top: 92vh;
}
.aboutme_goodtext{
	position: absolute;
	width: 60vh;
	top: 103vh;
	color:white;
	left: 0vh;
	padding: 5px;
	margin: 10px;
	font-size: 3.5vh;
	font-family: 'Montserrat', sans-serif;
	border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
	border-left: 2px solid black;

}
.aboutme_goodtext:hover {
	border-radius: 25px 25px 25px 25px / 35px 35px 35px 35px ;
	box-shadow: 10px 10px rgba(0, 0, 0, 0.493);
  }

.bg-change1{
	background: url(NewYorkCity.jpg) no-repeat;
	background-size: cover;
    background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	
}
.bg-change2{
	background: url(black.jpg) no-repeat;
	background-size: cover;
    background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	
}
.bg-change3{
	background: url(seattle.jpg) no-repeat;
	background-size: cover;
    background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	
}
.bg-change4{
	background: url(black.jpg) no-repeat;
	background-size: cover;
    background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	
}
.bg-change5{
	background: url(toronto.jpg) no-repeat;
	background-size: cover;
    background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	
}

.bg-change6{
	background: url(black.jpg) no-repeat;
	background-size: cover;
    background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	
}
.bg-change7{
	background: url(hongkong2.jpg) no-repeat;
	background-size: cover;
    background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	
}
body{
	background: url(black.jpg) no-repeat;
	overflow-x:hidden;
	width:100%;
	background-size: cover;
    background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	min-height:120vh;

	transition: all 1s ease;
}
.profilepicture{
	position: absolute;
	width: 350px;
	height: 350px;
	background-image: url("me.jpg");
	background-size: cover;
	top: 135vh;
	left: 125vh;
	box-shadow: 20px 20px rgba(0,0,0,.25);
}
.jobdesc{
	position: relative;
	width: 60vh;
	top: 260vh;
	left: 135vh;
	padding: 5px;
	margin: 10px;
	font-size: 3.5vh;
	color: white;
	font-family: 'Montserrat', sans-serif;
	box-shadow: 20px 20px rgba(0,0,0,.25);
	transition: all .4s ease;

}
.jobdesc:hover {
	
	box-shadow: 10px 10px rgba(0, 0, 0, 0.493);
  }
.hcpic{
	position: absolute;
	top: 300vh;
	left: 20vh;

	
}
.Skillsandtechtext{
	position: absolute;
	top: 260vh;
	left:1vh;
	font-size: 20vh;
	color: #ffce00;
	font-family: 'Oswald', sans-serif;

}
.Skillsandtechtext2{
	position: absolute;
	top: 380vh;
	font-size: 20vh;
	color: #ffce00;
	font-family: 'Oswald', sans-serif;

}
.techs{
	position: absolute;
	left:0vh;
	top: 400vh;
	font-family: 'Montserrat', sans-serif;
	color: #ffce00;
	font-size: 8vh;
}
.techstyle{
	padding: 2vh;
	margin: 2vh;
	border:double #ffce00;
}
ul#listoftech li {
	display: inline-block
}
.moveproject{
	position: absolute;
	top: 500vh;
	left: 10vh;
}
.project_text1{
	
	padding: 5px;
	margin: 10px;
	position:absolute;
	color:white;
	font-size: 3.5vh;
	top: 543vh;
	width: 35%;
	left: 130vh;
	font-family: 'Montserrat', sans-serif;
	box-shadow: 20px 20px rgba(0,0,0,.25);
	transition: all .4s ease;
	border-radius: 25px;
}
.project_text2{
	
	padding: 5px;
	margin: 10px;
	position:absolute;
	color:white;
	font-size: 4vh;
	top: 625vh;
	width: 35%;
	left: 130vh;
	font-family: 'Montserrat', sans-serif;
	box-shadow: 20px 20px rgba(0,0,0,.25);
	transition: all .4s ease;
	border-radius: 25px;
}
.project_text3{
	
	padding: 5px;
	margin: 10px;
	position:absolute;
	color:white;
	font-size: 4vh;
	top: 700vh;
	width: 35%;
	left: 130vh;
	font-family: 'Montserrat', sans-serif;
	box-shadow: 20px 20px rgba(0,0,0,.25);
	transition: all .4s ease;
	border-radius: 25px;
}
.Prescrypto_Pic{
	position: absolute;

	box-shadow: 20px 20px rgba(0,0,0,.25);
	transition: all .4s ease;
	width: 43vh;
	height: 43vh;
	background-image: url("home.jpg");
	background-position: center;
	background-size: cover;
	top: 570vh;
	left: 70vh;
}

.blockchain_pic{
	position: absolute;
	box-shadow: 20px 20px rgba(0,0,0,.25);
	transition: all .4s ease;
	width: 84vh;
    height:19vh;
	background-image: url("Prescryptologin.jpg");
	background-position: top;
	background-size: fill;
	top: 545vh;
	left: 20vh;
}
.homebook_pic{
	position: absolute;
	box-shadow: 20px 20px rgba(0,0,0,.25);
	transition: all .4s ease;
	width: 43vh;
	height: 43vh;
	background-image: url("Login.JPG");
	background-position: center;
	background-size: cover;
	top: 570vh;
	left: 10vh;
}
.csiblockchain_pic{
	position: absolute;
	box-shadow: 20px 20px rgba(0,0,0,.25);
	transition: all .4s ease;
	width: 100vh;
	height: 43vh;
	background-image: url("csiblockchain.JPG");
	background-position: center;
	background-size: cover;
	top: 632vh;
	left: 10vh;
}
.hash_pic{
	position: absolute;
	box-shadow: 20px 20px rgba(0,0,0,.25);
	transition: all .4s ease;
	width: 43vh;
	height: 47vh;
	background-image: url("example.JPG");
	background-position: center;
	background-size: cover;
	top: 620vh;
	left: 80vh;
}
.homebook_pic1{
	position: absolute;
	box-shadow: 20px 20px rgba(0,0,0,.25);
	transition: all .4s ease;
	width: 50vh;
	height: 90vh;
	background-image: url("homebook_pic1.JPG");
	background-position: center;
	background-size: cover;
	top: 700vh;
	left: 10vh;
}
.homebook_pic2{
	position: absolute;
	box-shadow: 20px 20px rgba(0,0,0,.25);
	transition: all .4s ease;
	width: 50vh;
	height: 90vh;
	background-image: url("homebook_pic2.JPG");
	background-position: center;
	background-size: cover;
	top: 700vh;
	left: 70vh;
}
.movecontactinfo{
	position: absolute;
	top: 860vh;
	font-size: 19vh;
}
.moveresume{
	position:absolute;
	top: 920vh;
	left: 120vh;
	width: 50%;
	height: 75%;
	overflow: hidden;	
}

.gitmove{
	position: absolute;
	top: 854vh;
	width: 25%;
	left: 160vh;
}
.linkedmove{
	position: absolute;
	top:  862vh;
	left: 110vh;
	width: 40vh;
}
.emailmove{
	font-family: 'Oswald', sans-serif;
	position: absolute;
	top: 920vh;
	left: 1vh;
	color: #ffce00;
	font-size: 9vh;

}
.resumetitle{
	font-family: 'Oswald', sans-serif;
	position: absolute;
	font-size:9vh;
	color: gray;
	top: -115vh;
	left: 10vh;
}
.underlinetitle { text-decoration: underline;
	text-decoration-color: #ffce00; }

	.underline { text-decoration: underline;
		text-decoration-color: #DCDCDC; }

.intro-text{
	opacity: 0;
	transform: translateY(25px);
	transition: 0.5s all ease-in-out
}
.intro-appear{
	opacity: 1;
	transform: translateY(0vh);
}

div.hidden {
    display: none
}