.icons{
    position: relative;
    top:100%;
    justify-content: center;
    margin: 0;
    padding: 0;
    display: flex;
    z-index: 99;
}
ul li{
    list-style-type: none;

}
.icons_desc{
    display: block;
    position: relative;
    width: 5vw;
    height: 12vh;
    line-height: 12vh;
    font-size: 4vw;
    text-align: center;
    background: whitesmoke;
    text-decoration: none;
    color: #262626;
    margin: 0 4vw;
    transition: 0.5s;
}
ul li a span{
    position: absolute;
    transition: transform .5s;
}
ul li a span:nth-child(1),
ul li a span:nth-child(3){
    width: 100%;
    height:2px;
    background: #262626;
}
ul li a span:nth-child(1){
    top:0;
    left:0;
    transform-origin: right;
}
ul li a:hover span:nth-child(1){
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s;
}

ul li a span:nth-child(3){
    bottom:0;
    left:0;
    transform-origin: left;
}
ul li a:hover span:nth-child(3){
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}

ul li a span:nth-child(2),
ul li a span:nth-child(4){
    width: 3px;
    height:100%;
    background: #262626;
}
ul li a span:nth-child(2){
    top:0;
    left:0;
    transform: scale(0);
    transform-origin: bottom;
}
ul li a:hover span:nth-child(2){
    transform: scale(1);
    transform-origin: top;
    transition: transform .5s;
}

ul li a span:nth-child(4){
    top:0;
    right:0;
    transform: scale(0);
    transform-origin: top;
}
ul li a:hover span:nth-child(4){
    transform: scale(1);
    transform-origin: bottom;
    transition: transform .5s;
}


