*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background{
    background-color: whitesmoke;
}
body{
    margin: 0;
    padding: 0;
}
.icons{
    position: relative;
    top:100%;
    justify-content: center;
    margin: 0;
    padding: 0;
    display: flex;
    z-index: 99;
}
ul li{
    list-style-type: none;

}
.icons_desc{
    display: block;
    position: relative;
    width: 5vw;
    height: 12vh;
    line-height: 12vh;
    font-size: 4vw;
    text-align: center;
    background: whitesmoke;
    text-decoration: none;
    color: #262626;
    margin: 0 4vw;
    transition: 0.5s;
}
ul li a span{
    position: absolute;
    transition: transform .5s;
}
ul li a span:nth-child(1),
ul li a span:nth-child(3){
    width: 100%;
    height:2px;
    background: #262626;
}
ul li a span:nth-child(1){
    top:0;
    left:0;
    transform-origin: right;
}
ul li a:hover span:nth-child(1){
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s;
}

ul li a span:nth-child(3){
    bottom:0;
    left:0;
    transform-origin: left;
}
ul li a:hover span:nth-child(3){
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}

ul li a span:nth-child(2),
ul li a span:nth-child(4){
    width: 2px;
    height:100%;
    background: #262626;
}
ul li a span:nth-child(2){
    top:0;
    left:0;
    transform: scale(0);
    transform-origin: bottom;
}
ul li a:hover span:nth-child(2){
    transform: scale(1);
    transform-origin: top;
    transition: transform .5s;
}

ul li a span:nth-child(4){
    top:0;
    right:0;
    transform: scale(0);
    transform-origin: top;
}
ul li a:hover span:nth-child(4){
    transform: scale(1);
    transform-origin: bottom;
    transition: transform .5s;
}











.slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: whitesmoke;
    z-index: -1;
}
nav{
    display: grid;
    align-items: center;
    grid-template-columns: 2% 1fr 1fr 1fr 10%;
    min-height: 10vh;
    color: black;
    font-family: 'Montserrat', sans-serif;
}
#logo{
    grid-column: 2/3;
    font-size: 20px;
    z-index: 5;
}
.navbutton{
    justify-self: end;
}
.hamburger{
    justify-self: end;
}

section{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.hero{
    height: 60%;
    width: 100%;
    position: relative;
    
}
.hero_music{
    height: 100%;
    width: 100%;
    position: relative;
    
}

.hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero_music img{
  width: 100%;
  background-position: center;
  background-attachment: fixed;
    
}

.headline{
    position: absolute;
    top: 70%;
    left: 20%;
    font-size: 100px;
    font-family: 'Montserrat', sans-serif;
    transform: translate(-20%, -70%);
    color: whitesmoke;
    z-index: 3;
}

.hero::after{
    content: "";
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    opacity: 0.3;

}


.ok {
  font: 400 100px/0.8 'Great Vibes', Helvetica, sans-serif;
  color: #fff;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
}