.comingsoon{
    position: relative;
    text-align: left;
    width: 50%;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    color: black;
}
.comingsoon_count{
   
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: black;
}